* {
box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}


h2 {
text-align: center;
margin-bottom: 15px;
}


label {
display: block;
margin-top: 10px;
font-size: 14px;
color: #444;
}


input {
width: 100%;
padding: 8px;
margin-top: 5px;
border-radius: 6px;
border: 1px solid #ccc;
}


button {
width: 100%;
margin-top: 15px;
padding: 10px;
background: #6c63ff;
color: #fff;
border: none;
border-radius: 6px;
font-size: 16px;
cursor: pointer;
}


button:hover {
background: #554fd8;
}


/* Result box */
.result {
margin-top: 15px;
padding: 0;
max-height: 0;
overflow: hidden;
transition: all 0.4s ease;
border-radius: 8px;
background: #f5f5f5;
}


.result.show {
padding: 15px;
max-height: 500px;
}


.result p {
margin: 8px 0;
font-size: 14px;
}


.star {
font-weight: bold;
color: #6c63ff;
}