.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  animation: grow 5s forwards;
}

@keyframes grow {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
