*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: #000;
    color: white;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;



}
#main{
    background: wheat;
    width: 90%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;


}

.small{
    background: red;
   min-height: 125px;
    width: 100px;
    margin: 10px;
border: 1px solid black;
display: flex;
flex-direction: column;
align-items: center;
padding: 5px;
transition: transform 0.3s ease-in;

}
.small:hover{
    transform: scale(1.2);
}
.img{
    height: 60%;
    width: 100%;
    object-fit: cover;

}