*{
    box-sizing: border-box;
}
body {
    background: #000;
    min-height: 100vh;
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#parent {
    width: 90%;
    background: rgb(224, 222, 222);
    min-height: 50vh;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    
}

.child{
    background: pink;
    height: 225px;
    width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border:1px dashed black;
    border-radius: 2px;

    

}
img{
    height: 50%;
    width: 99%;

}

.btndiv{
    display: flex;
    gap: 5px;

}

.child.big{
    height: 300px;
}