*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: #041a29;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    margin: 0px;
    
gap: 10px;

}
#app{
    min-height: 20vh;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background: pink;
    margin-top: 20px;
background: white;
color: black;
border-radius: 5px;
}

input{
    height: 30px;
    padding: 5px;
    border: 1px solid gray;
}

#btn{
    height: 30px;
    width: 50px;
    background: rgb(88, 88, 228);
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}
#btn:hover{
    background: #3d3b90;
}

#alltask{

min-height: fit-content;
width: 25%;
background: white;
border-radius: 5px;
}
#alltask div {
    padding: 8px;
    border-bottom: 1px solid black;
    height: 40px;
    margin-top: 5px;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#alltask h1{
    text-align: center;
    color: black;
}



.btndiv{
    display: flex;
    gap: 4px;
    justify-content: center;
    
}
