* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0px;
  margin: 0px;
}
body {
  padding: 0px;
  margin: 0px;
  background: #000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#parent {
  background: white;
  height: 50%;
  width: 30%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
form input {
  height: 50%;
  width: 65%;
  padding-left: 5px;
}

form {
  height: 20%;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}
button {
  padding: 7px;
  background: rgb(89, 143, 89);
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  height: 50%;
}
button:hover {
  background: rgb(174, 174, 245);
  border: #756f6f;
  transition:  background-color 0.5s ease-in-out 0.2s;
}
