*{
  font-family: sans-serif;
  box-sizing: border-box;

}
body{
padding: 0px;
margin: 0px;
}
.main{
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url(mainbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

.navbar{
  height: 10vh;
  width: 100%;
background: red;
}

.hero{
  height:calc(80vh - 10vh - 10vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left{
width: 50%;
background-color: yellowgreen;
height: 100%;

}
.right{
  width: 40%;
  height: 100%;
  background-color: pink;


  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 80%;
  background: black;
  border-radius: 10px;
height: 80%;
}

.curve{
  position: absolute;
  bottom: -5px;
  

  width: 100%;
}
.curve img{
  width: 100%;
}
