*{
  font-family: sans-serif;
  box-sizing: border-box;

}
body{
padding: 0px;
margin: 0px;
}
.main{
  position: relative;
  width: 100%;
  height: 85vh;
  background-image: url(mainbg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center ;
}

.navbar{
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

}
.logo{
  width: 40%;
}
.pages{
  display: flex;
  gap: 20px;
}
.number{
  color: white;
  font-size: small;
}
.number p a{
  color: #5BC8AF;
}

.pages a{
  text-decoration: none;
color: white;
font-size: small;
}
.home {
  font-weight: 700;
}
.hero{
  height:calc(80vh - 10vh - 10vh);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.left{
width: 50%;
background-color: yellowgreen;
height: 100%;

}
.right{
  width: 40%;
  height: 100%;
  background-color: pink;


  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  width: 80%;
  background: black;
  border-radius: 10px;
height: 80%;
}

.curve{
  position: absolute;
  bottom: -5px;
  

  width: 100%;
}
.curve img{
  width: 100%;
}
@media (min-width:0px) and (max-width:480px) {
  body{
    font-size: 14px;
  }
  .navbar{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .navbar{
    height: 30vh;
  }
  .logo{
    width: 50%;
  }
 
  .pages{
    width: 50%;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .logo img{
    height: 20px;
  }
 .number{
  display: inline-block;
  width: 100%;
  text-align: right;

 }
  

}

@media (min-width:481px) and (max-width:786px) {
  body{
    font-size: 15px;
  }
  .navbar{
    flex-wrap: wrap;
    align-items: flex-start;
  }
  .navbar{
    height: 30vh;
  }
  .logo{
    width: 50%;
  }
 
  .pages{
    width: 50%;
    gap: 10px;
    justify-content: flex-end;
  }
  
  .logo img{
    height: 20px;
  }
 .number{
  display: inline-block;
  width: 100%;
  text-align: right;

 }
  

}


