* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
html {
  font-size: 16px;
}
.main {
  height: 90vh;
  background: #000;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  height: 10vh;
}

.pages {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
.pages a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.pages a:hover {
  font-weight: 700;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: calc(100vh - 10vh);
  width: 100%;
}
.left {
  height: 50%;
  width: 30%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.right {
  height: 100%;
  width: 50%;

  height: 70%;
  width: 30%;
  
}
.left-top h1 {
  font-size: 3rem;
  color: white;
}
.left-top p {
  color: white;
}
.left-down {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.left-down a {
  color: black;
  text-decoration: none;
  background: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 10px;
}
.left-down a:hover {
  background: rgb(50, 163, 172);
}
.right img{
    height: 100%;
    width: 100%;
background: white;
border-radius: 10px;
object-fit:cover;
 
}

@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .main {
    min-height: 100vh;
  }
  .navbar {
    padding: 20px 10px;
    height: 10vh;
  }
  .navbar img {
    width: 30%;
  }
  .pages {
    width: 70%;
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  .hero {
    justify-content: space-evenly;
    align-items:center;
    gap: 10px;
  }
  .right {
    height: 60%;
  }
  .left{
    height: 60%;
    width:50%;
  }
  .left-top h1{
    font-size: 2rem;
  }
  .left-top p {
  font-size: 0.7rem;
}
.left-down a{
    font-size: 0.8rem;
}
}

@media (min-width: 0px) and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  .main {
height: 90dvh;
  }
  .navbar img {
    width: 25%;
  }
  .pages {
    font-size: 0.5rem;
    width: 50%;
    display: flex;
    justify-content: right;
    gap: 20px;
  }
  .hero {
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: calc(80vh - 10vh);
    gap: 20px;
  }
  .left {
    width: 70%;
    height: 30%;
  }
  .right {
    width: 60%;
    height: 50%;
  }

  .left-top h1{
    font-size: 1.5rem;
  }
  .left-top p{
    font-size: 0.8rem;
  }
  .left-down a{
    font-size: 0.7rem;
  }
  .right img{
    height: 100%;
    width: 100%;
  }
}
