h1{
    height: 200px;
    background: pink;
    width: 200px;
    /* border-width: 15px;
    border-style: solid;
    border-color: green; */
    border: 10px solid rgb(163, 137, 80);
    padding: 10px;
    margin :30px;
    
}
h2{
background: rgb(179, 202, 133);
color: white;
border: 2px solid black;
padding: 15px;
margin: 10px;
}
p{
    padding: 20px;
    background: brown;
    margin: 30px;
    color:white

}
span{
    background: rgb(171, 171, 179);
    color: black;
    height: 50px;

    
}